/app/algorithm/service_algoritm.egg-info/
/services/core/service_auth.egg-info/
/services/core/uv.lock
/services/algorithm/uv.lock
/.idea/vcs.xml
/.idea/PyV.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/app/core/src/utils/config-local.yml
/scripts/local scripts
/app/core/uv.lock
/scripts/tokens
/app/core/.env
/.env
/scripts/
/app/core/merge-commit.sh
