services:
  postgres:
    image: ${POSTGRES_IMAGE}
    env_file:
      - .env
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - backend
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: ${RABBIT_IMAGE}
    container_name: rabbitmq_data
    ports:
      - "5672:${RabbitMQ_API_PORT}"
      - "15672:${RabbitMQ_CONSOLE_PORT}"
    environment:
      RABBITMQ_DEFAULT_USER: ${RabbitMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RabbitMQ_PASSWORD}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend
    restart: unless-stopped

  minio:
    image: ${S3_MINIO_IMAGE}
    container_name: minio
    command: server /data --console-address ":9001"
    restart: unless-stopped
    ports:
      - "9000:${S3_API_PORT}"
      - "9001:${S3_CONSOLE_PORT}"
    networks:
      - backend
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio-data:/data
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:${S3_API_PORT}/minio/health/live || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  core-service:
    image: ${CORE_SERVICE_IMAGE}
    container_name: core_service
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "${CORE_PORT}:${CORE_PORT}"
    networks:
      - backend
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:${CORE_PORT}/health || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 5

  algorithm-service:
    image: ${ALGORITHM_SERVICE_IMAGE}
#    container_name: algorithm_service
#    ports:
#      - "50051:50051"
    depends_on:
      core-service:
        condition: service_healthy
      rabbitmq:
        condition: service_started
      minio:
        condition: service_started
    env_file:
      - .env
    networks:
      - backend
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "timeout 2 bash -c '</dev/tcp/core-service/50051'"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 20s

  redis:
    image: ${REDIS_SERVICE_IMAGE}
    container_name: redis
    #ports:
    #  - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - backend
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5


  grpc-proxy:
    image: ${GRPC_PROXY_IMAGE}
    container_name: grpc_proxy
    depends_on:
      core-service:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "50051:50051"   # проброс gRPC прокси на хост
    networks:
      - backend
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "timeout 2 bash -c '</dev/tcp/core-service/50051'"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 20s

  envoy:
    image: envoyproxy/envoy:v1.28-latest
    container_name: envoy_grpc_proxy
    ports:
      - "8080:8080"  # gRPC-Web endpoint для браузера
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml:ro
    networks:
      - backend
    depends_on:
      core-service:
        condition: service_healthy
    restart: always
    command: [
      "-c", "/etc/envoy/envoy.yaml",
      "-l", "trace"
    ]

networks:
  backend:
    driver: bridge #кинули

volumes:
  pgdata:
  rabbitmq_data:
  minio-data:
  redis-data: