name: CI for core + postgres

on:
  push:
    branches: [main, dev-test]

jobs:

  build-core-service:
    #enviroment важно не трогать
    environment: prod
    runs-on: ubuntu-24.04
    steps:
      - name: Copy repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      #- name: Setup Python
      #  uses: actions/setup-python@v5
      #  with:
      #    python-version: '3.13'

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: MoonliteSoda    # выпустивший ниже токен НЕ ТРОГАТЬ
          password: ${{ secrets.TOKEN }} #это личный? токен с правами

      - name: Build Docker Image Core
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./app/core/Dockerfile
          push: true
          tags: ghcr.io/piapav/core_service:latest

      - name: Build Docker Image Algorithm
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./app/algorithm/Dockerfile
          push: true
          tags: ghcr.io/piapav/algorithm_service:latest


  deploy:
    #enviroment важно не трогать
    environment: prod
    runs-on: ubuntu-24.04
    needs: [build-core-service]
    if: github.ref == 'refs/heads/main'
    # деплой только из main
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: |
            docker-compose.yml  # берём compose из репа

      - name: Create .env file
        run: |
          # Auth
          echo "ACCESS_SECRET_KEY=${{ secrets.ACCESS_SECRET_KEY }}" > .env
          echo "REFRESH_SECRET_KEY=${{ secrets.REFRESH_SECRET_KEY }}" >> .env
          echo "ALGORITHM=${{ secrets.ALGORITHM }}" >> .env
          echo "ACCESS_TOKEN_EXPIRE_MINUTES=${{ secrets.ACCESS_TOKEN_EXPIRE_MINUTES }}" >> .env
          echo "REFRESH_TOKEN_EXPIRE_DAYS=${{ secrets.REFRESH_TOKEN_EXPIRE_DAYS }}" >> .env

          # Core service
          echo "CORE_HOST=${{ secrets.CORE_HOST }}" >> .env
          echo "CORE_PORT=${{ secrets.CORE_PORT }}" >> .env

          # PostgreSQL
          echo "POSTGRES_HOST=${{ secrets.POSTGRES_HOST }}" >> .env
          echo "POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}" >> .env
          echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> .env
          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
          echo "POSTGRES_ECHO=${{ secrets.DB_ECHO }}" >> .env

          # S3 storage
          echo "MINIO_HOST=${{ secrets.MINIO_HOST }}" >> .env
          echo "MINIO_ROOT_USER=${{ secrets.MINIO_ROOT_USER }}" >> .env
          echo "MINIO_ROOT_PASSWORD=${{ secrets.MINIO_ROOT_PASSWORD }}" >> .env
          echo "S3_API_PORT=${{ secrets.S3_API_PORT }}" >> .env
          echo "S3_CONSOLE_PORT=${{ secrets.S3_CONSOLE_PORT }}" >> .env
          echo "BUCKET=${{ secrets.BUCKET }}" >> .env
          echo "ACCESS_ID=${{ secrets.ACCESS_ID }}" >> .env
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env

          # RabbitMQ
          echo "RabbitMQ_API_PORT=${{ secrets.RabbitMQ_API_PORT }}" >> .env
          echo "RabbitMQ_CONSOLE_PORT=${{ secrets.RabbitMQ_CONSOLE_PORT }}" >> .env
          echo "RabbitMQ_USER=${{ secrets.RabbitMQ_USER }}" >> .env
          echo "RabbitMQ_PASSWORD=${{ secrets.RabbitMQ_PASSWORD }}" >> .env
          echo "RABBIT_HOST=${{ secrets.RABBIT_HOST }}" >> .env
          echo "RABBIT_QUEUE_TASKS=${{ secrets.RABBIT_QUEUE_TASKS }}" >> .env
          echo "RABBIT_QUEUE_RESULTS=${{ secrets.RABBIT_QUEUE_RESULTS }}" >> .env
          echo "RABBIT_EXCHANGE=${{ secrets.RABBIT_EXCHANGE }}" >> .env

#          # Redis
#          echo "REDIS_HOST=${{ secrets.REDIS_HOST }}" >> .env
#          echo "REDIS_PORT=${{ secrets.REDIS_PORT }}" >> .env
#          echo "REDIS_DB=${{ secrets.REDIS_DB }}" >> .env

          # Email
          echo "EMAIL_LOGIN=${{ secrets.EMAIL_LOGIN }}" >> .env
          echo "EMAIL_PASSWORD=${{ secrets.EMAIL_PASSWORD }}" >> .env
          
          # Service image
          
          echo "CORE_SERVICE_IMAGE=${{ secrets.CORE_SERVICE_IMAGE }}" >> .env
          echo "RABBIT_IMAGE=${{ secrets.RABBIT_IMAGE }}" >> .env
          echo "POSTGRES_IMAGE=${{ secrets.POSTGRES_IMAGE }}" >> .env
          echo "S3_MINIO_IMAGE=${{ secrets.S3_MINIO_IMAGE }}" >> .env
          echo "ALGORITHM_SERVICE_IMAGE=${{ secrets.ALGORITHM_SERVICE_IMAGE }}" >> .env
          echo "REDIS_SERVICE_IMAGE=${{ secrets.REDIS_SERVICE_IMAGE }}" >> .env
          
          
#          #GRPC
#          echo "GRPC_HOST=${{ secrets.GRPC_HOST }}" >> .env
#          echo "GRPC_PORT=${{ secrets.GRPC_PORT }}" >> .env



      - name: Prepare deploy directory on VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            set -e
            mkdir -p ~/deploy
            cd ~/deploy
            rm -f docker-compose.yml .env

      - name: Copy files to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "./docker-compose.yml, ./.env"
          target: "~/deploy/"

      - name: Clean old containers on VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
            host: ${{ secrets.SERVER_HOST }}
            username: ${{ secrets.SERVER_USER }}
            key: ${{ secrets.SERVER_SSH_KEY }}
            script: |
              cd ~/deploy
              docker compose down --remove-orphans
              docker image rm -f ghcr.io/piapav/core_service:latest || true
              docker image rm -f ghcr.io/piapav/algorithm_service:latest || true


      - name: Login to GHCR on VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "${{ secrets.TOKEN }}" | docker login ghcr.io -u MoonliteSoda --password-stdin

      - name: Pull images on VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            docker pull ghcr.io/piapav/core_service:latest
            docker pull ghcr.io/piapav/algorithm_service:latest
            docker pull ${{secrets.POSTGRES_IMAGE}}
            docker pull ${{secrets.S3_MINIO_IMAGE}}
            docker pull ${{secrets.S3_MINIO_IMAGE}}


      - name: Run docker-compose on VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/deploy
            docker compose --env-file .env up -d --scale algorithm-service=3
            docker compose ps
