auth:
  ACCESS_SECRET_KEY: ${ACCESS_SECRET_KEY}
  REFRESH_SECRET_KEY: ${REFRESH_SECRET_KEY}
  ALGORITHM: ${ALGORITHM}
  ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES}
  REFRESH_TOKEN_EXPIRE_DAYS: ${REFRESH_TOKEN_EXPIRE_DAYS}

server:
  host: ${CORE_HOST}
  port: ${CORE_PORT}

db:
  host: postgres
  port: 5432
  name: ${POSTGRES_DB}
  user: ${POSTGRES_USER}
  password: ${POSTGRES_PASSWORD}

